include model_edit

.container
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/admin') Admin
        li
          a(href='/admin/browse/' + entityInfo.name)
            = entityInfo.pluralDisplay
        li.active Create

  .row
    .col-md-12
      .box
        .box-header.with-border
          h3.box-title Create #{entityInfo.singularDisplay}
        form#companyForm(method='post', action='/admin/browse/' + entityInfo.name, autocomplete='off', role='form')
          .box-body
            +modelForm(result)

          .box-footer.clearfix
            button.btn.btn-primary.btn-lg(type='submit') Submit

            button.btn.btn-primary.btn-lg.ml-10(type='submit' name='create_another' value='1') Submit and Create Another


